#include <zephyr/dt-bindings/dma/rpi-pico-dma-rp2040.h>
#include <zephyr/dt-bindings/led/led.h>

&flash0 {
	partitions {
		partition@100 {
			reg = <0x100 (DT_SIZE_M(2) - 0x100 - 0x10000)>;
		};

		storage_partition: partition@1f0000 {
			label = "storage";
			reg = <(DT_SIZE_M(2) - 0x10000) 0x00010000>;
		};
	};
};

&spi0 {
	dmas = <&dma 0 RPI_PICO_DMA_SLOT_SPI0_TX 0>,
	       <&dma 1 RPI_PICO_DMA_SLOT_SPI0_RX 0>;
	dma-names = "tx", "rx";

	leds_1: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(4)>;

		chain-length = <370>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			pinmux = <SPI1_CSN_P13>, <SPI1_SCK_P10>, <SPI1_TX_P11>;
		};

		group2 {
			pinmux = <SPI1_RX_P12>;
			input-enable;
		};
	};
};

&spi1 {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";

	dmas = <&dma 2 RPI_PICO_DMA_SLOT_SPI1_TX 0>,
	       <&dma 3 RPI_PICO_DMA_SLOT_SPI1_RX 0>;
	dma-names = "tx", "rx";

	leds_2: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(4)>;

		chain-length = <370>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};

&dma {
	status = "okay";
};
