#include <zephyr/dt-bindings/led/led.h>

&spi2 {
	line-idle-low;

	dma-enabled;
	dmas = <&dma 0>, <&dma 1>;
	dma-names = "rx", "tx";

	leds_1: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(4)>;

		chain-length = <370>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};

&pinctrl {
	i2s_default: i2s_default {
		group1 {
			pinmux = <I2S_O_SD_GPIO2>;
		};
	};
};

&i2s {
	status = "okay";

	pinctrl-0 = <&i2s_default>;
	pinctrl-names = "default";

	leds_2: ws2812@0 {
		compatible = "worldsemi,ws2812-i2s";
		reg = <0>;

		chain-length = <370>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		reset-delay = <500>;
	};
};

&dma {
	status = "okay";
};
