name: Firmware build

on:
  push:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        board:
          - quakelight
          - frdm_mcxn947/mcxn947/cpu0
          - xiao_esp32c3
          - rpi_pico/rp2040/w

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@main
        with:
          app-path: firmware
          toolchains: arm-zephyr-eabi:riscv64-zephyr-elf
          ccache-cache-key: ${{ matrix.board }}

      - name: Fetch the blobs
        run: |
          if [ "${{ matrix.board }}" == "xiao_esp32c3" ]; then
            west blobs fetch hal_espressif
          elif [ "${{ matrix.board }}" == "rpi_pico/rp2040/w" ]; then
            west blobs fetch hal_infineon
          fi

      - name: Build
        run: |
          echo west build -b ${{ matrix.board }} firmware -DCONFIG_COMPILER_WARNINGS_AS_ERRORS=y
          west build -b ${{ matrix.board }} firmware -DCONFIG_COMPILER_WARNINGS_AS_ERRORS=y
